<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars.length>0; else noCarsInfo" class="cs-table table table-striped">
        <!-- dyrektywa ukrywająca tabelę w przypadku jeśli baza nie zawiera żadnego samochodu zamiast tego wyświetlająć no CarsInfo -->
        <thead>
          <tr>
            <th>car</th>
            <th>plate</th>
            <th>delivery date</th>
            <th>deadline</th>
            <th>client</th>
            <th>cost</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars; let i=index">
            <!-- dyrektywa o działaniu forEach -->
            <td [ngClass]="{'row-error': car.isFullyDamaged}">{{car.model}}</td>
            <!-- dyrektywa dodająca klasę row-error jeśli samochód jest ccąłkowicie zniszczony -->
            <td>{{car.plate}}</td>
            <td>{{car.deliveryDare}}</td>
            <td>{{car.deadline}}</td>
            <td>{{car.client.firstName}}{{car.client.surname}}</td>
            <td>{{car.cost}}</td>
            <td>ACTION PLACEHOLDER</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-left">
        SHOW GROSS
      </button>
    </div>
  </div>
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost> <!-- dzięki nawiasom kwadratowym i nazwie inputa można przesłać wartość do komponentu zagnieżdżonego z komponentu rodzica -->

  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{grossCost}} PLN</p>
      </div>
    </div>
  </div>
</div>
